{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block-' ~ configuration.provider|clean_class,
    'background',
  ]
%}
{% block content %}
	<div{{attributes.addClass(classes)}}>
		<div class="block-content-wrapper">
			<div class="block-content">
				<h3 class="block-title" data-aos="fade-up">{{ content.field_b_short_text }}</h3>
				<p class="block-subtitle" data-aos="fade-up">{{ content.field_b_short_text_2 }}</p>
				<div data-aos="fade-up">{{ content.body }}</div>
				<div class="block-icons-wrapper">
					<div class="icon-item" data-aos="fade-up">
						{{ content.field_b_single_image_2 }}
						<p class="icon-title">{{ content.field_b_short_text_3 }}</p>
					</div>
					<div class="icon-item" data-aos="fade-up">
						{{ content.field_b_single_image_3 }}
						<p class="icon-title">{{ content.field_b_short_text_4 }}</p>
					</div>
					<div class="icon-item" data-aos="fade-up">
						{{ content.field_b_single_image_4 }}
						<p class="icon-title">{{ content.field_b_short_text_5 }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="block-image-wrapper block-image">
			<div class="block-image-content">
				<p class="block-image-title">{{ content.field_b_short_text_6 }}</p>
				<p class="block-year">{{ content.field_b_short_text_7 }}</p>
			</div>
		</div>
	</div>
{% endblock %}
