{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block-' ~ configuration.provider|clean_class,
    'background',
  ]
%}
{{ attach_library('rmeble/swiper') }}
{% block content %}
	<div{{attributes.addClass(classes)}}>
		<div class="descriptionblock-image hide-mobile">
			<div class="container">
				<div class="row para first-para">
					<div class="col-xl-7">
						<h3 class="para-title">{{ content.field_b_short_text }}</h3>
						<div class="para-description">{{ content.body }}</div>
						<div class="para-link-wrapper">{{ content.field_b_single_link }}</div>
					</div>
					<div class="col-xl-5 para-image-flex">
						<div class="para-image-wrapper">
							{{ content.field_b_single_image }}
						</div>
					</div>
				</div>
				<div class="row para second-para">
					<div class="col-xl-7">
						<h3 class="para-title">{{ content.field_b_short_text_2 }}</h3>
						<div class="para-description">{{ content.field_b_long_text }}</div>
						<div class="para-link-wrapper">{{ content.field_b_single_link_2 }}</div>
					</div>
					<div class="col-xl-5 para-image-flex">
						<div class="swiper-descriptionfrontpage-images">
							<div class="swiper-wrapper">
								{{ content.field_b_multi_images_slides }}
							</div>
						</div>
					</div>
				</div>
				<div class="row para third-para">
					<div class="col-xl-7">
						<h3 class="para-title">{{ content.field_b_short_text_3 }}</h3>
						<div class="para-description">{{ content.field_b_long_text_2 }}</div>
						<div class="para-link-wrapper">{{ content.field_b_single_link_3 }}</div>
					</div>
					<div class="col-xl-5 para-image-flex">
						<div class="para-image-wrapper">
							{{ content.field_b_single_image_2 }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
